# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
dist/
build/
.env
.env.local
.env.*.local
coverage/
*.tgz
.DS_Store
.idea/
.vscode/
*.sublime-workspace
*.sublime-project
*.log
package-lock.json
yarn.lock
.pnpm-debug.log
